html,body {
    height:100%;
    
}
.titulo{
color: red;
text-align: left 2rem;
text-align: center;
}
.bio{
    text-align: center;
}
.picture{
    height: 200px;
    width: 1000px;

}

     
    .parrafo {
        overflow: hidden;
    }
    
    .content {
        font-size: 15px;
        line-height: 20px;
        padding: 0 20px;
        text-align: justify;
    }
    
    .left {
        float: left;
        width: 50%;
    }
    
    .left .content {
        border-right: 5px solid #4BB495  ;
    }
    
    .right {
        float: right;
        width: 50%;
    }
    .tabla, td, th{
     border-collapse: collapse;
     border: 1px solid black;
    
    }
    
    
    #header {
            
        display:block;
        padding:10px 0px;
    }
    
    section {
        width: 79%;
        background: rgb(255, 255, 255);
        float: left;
        overflow: auto;
        padding-bottom: 60px;
        padding-top:30px;
    }
    
    #derecha {
        float: right;
        border: 1px solid red;
        width: 19%;
    }
    #izquierda{
        float: left;
        border:1px solid red;
        display: flex;
        width: 80%;
    }
    #footer {
        position: relative;
        margin-top: -50px;
        height: 40px; 
        padding:5px 0px;
        clear: both;
        display: flex;
  justify-content: center;
  

        
    }
    
